<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>799813393315-f3dnuok4fs51j79ebnmh0tqj1r19ppar.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.799813393315-f3dnuok4fs51j79ebnmh0tqj1r19ppar</string>
	<key>API_KEY</key>
	<string>AIzaSyBdAU0avqEVrKRW4xfYgZZ3lKd0groNMJA</string>
	<key>GCM_SENDER_ID</key>
	<string>799813393315</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.theStore.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>ecommerce-5ea59</string>
	<key>STORAGE_BUCKET</key>
	<string>ecommerce-5ea59.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:799813393315:ios:d6f93eb9273523aa02d816</string>
</dict>
</plist>